.sidebar.sidebar_left
  / .sidebar_item
  /   .search
  /     %input.search_submit{:type => "submit", :value => ""}
  /     %input.search_box{:onblur => "if (this.value == '') {this.value = 'Sign';}", :onfocus => "if (this.value == 'Search...') {this.value = '';}", :type => "text", :value => "Search..."}
  .sidebar_item.recent-posts
    %h5 On the blog
    %ul
      -unless @feed.nil?
        - @feed.entries[0..3].each do |entry|
          %li
            %a{:href => entry.url}
              = image_tag("icons/pages.png")
              %span
                %strong #{entry.title}
                by #{entry.author} on #{entry.published.strftime("%b %d, %Y")}
  -# .sidebar_item
  -#   %h5 Category
  -#   %ul
  -#     %li
  -#       %a{:href => "#"} Web Design
  -#     %li
  -#       %a{:href => "#"} Photography
  -#     %li
  -#       %a{:href => "#"} Personal Life
  -#     %li
  -#       %a{:href => "#"} New Look
  -# .sidebar_item
  -#   %h5 Archives
  -#   %ul
  -#     %li
  -#       %a{:href => "#"} June 2011
  -#     %li
  -#       %a{:href => "#"} May 2011
  -#     %li
  -#       %a{:href => "#"} April 2011
  -#     %li
  -#       %a{:href => "#"} March 2011
  -#     %li
  -#       %a{:href => "#"} February 2011
  .sidebar_item
    %h5 Custom text
    %p You can put any text content here or, if you prefer, another list containing your recent posts, works or useful links.
/ .sidebar End
/ Sidebar End
