.home_tagline
  %h1
    Hello and Welcome to My Lunch In, the lunch service for Nora's table.
    %br
      Feel free to read more about
      %a{:href => about_url} Nora's Table
      and check our
      = succeed "." do
        %a{:href => blog_url} Blog
.divider.line
