.nav
  %ul
    %li.current
      / %a{:href => "index-2.html"} Home
      / %ul
      /   %li
      /     %a{:href => "index-2.html"} Default Layout
      /   %li
      /     %a{:href => "index2.html"} Alternate Layout
      /   %li
      /     %a{:href => "index3.html"} Static Image Layout
    %li
      %a{:href => about_url} About
    %li
      %a{:href => blog_url} Blog
      / %ul
      /   %li
      /     %a{:href => "blog_right.html"} Right sidebar - 1
      /   %li
      /     %a{:href => "blog_right2.html"} Right sidebar - 2
      /   %li
      /     %a{:href => "blog_right3.html"} Right sidebar - 3
      /   %li
      /     %a{:href => "blog_left.html"} Left sidebar - 1
      /   %li
      /     %a{:href => "blog_left2.html"} Left sidebar - 2
      /   %li
      /     %a{:href => "blog_left3.html"} Left sidebar - 3
      /   %li
      /     %a{:href => "blog_post.html"} Blog Post
    / %li
    /   %a{:href => "columns.html"} Simple Codes
    /   %ul
    /     %li
    /       %a{:href => "columns.html"} Columns
    /     %li
    /       %a{:href => "typography.html"} Typography
    /     %li
    /       %a{:href => "elements.html"} Elements
    %li
      %a{:href => seasonal_url} In Season
      / %ul
      /   %li
      /     %a{:href => "portfolio_one1.html"} One Column 1
      /   %li
      /     %a{:href => "portfolio_one2.html"} One Column 2
      /   %li
      /     %a{:href => "portfolio_two1.html"} Two Columns 1
      /   %li
      /     %a{:href => "portfolio_two2.html"} Two Columns 2
      /   %li
      /     %a{:href => "portfolio_two3.html"} Two Columns 3
      /   %li
      /     %a{:href => "portfolio_three1.html"} Three Columns 1
      /   %li
      /     %a{:href => "portfolio_three2.html"} Three Columns 2
      /   %li
      /     %a{:href => "portfolio_three3.html"} Three Columns 3
      /   %li
      /     %a{:href => "portfolio_four1.html"} Four Columns 1
      /   %li
      /     %a{:href => "portfolio_four2.html"} Four Columns 2
      /   %li
      /     %a{:href => "portfolio_four3.html"} Four Columns 3
      /   %li
      /     %a{:href => "portfolio_item.html"} Portfolio Item Page
    %li
      %a{:href => pending_url} Catering
